@model IEnumerable<pastomatai.Models.Package>

@{
    ViewData["Title"] = "UpdateStatesAll";
}

<h1>UpdateStatesAll</h1>
<hr />

<h3>Packages states' have been changed.</h3>
<div>
    <a asp-action="Index">Back to List</a>
</div>

